@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .placeholder-style::placeholder {
    padding: 5px 12px;
    margin: 5px;
  }
}

input {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}
.outlineperso1 {
  @apply outline outline-offset-[6px] outline-vertclair1 outline-2;
}

.outlineperso2 {
  @apply outline outline-offset-[3px] outline-vertclair1 outline-1;
}

.outlineperso3 {
  @apply outline outline-offset-[2px] outline-[#DB0955] outline-2;
}

.shadowcontact {
  box-shadow: 0px 0px 10px 2px #4cd96370;
}

img {
  max-width: none;
}
